<!-- @format -->

<section class="section">
	<div class="container" style="text-align: center">
		<img src="https://source.unsplash.com/random/1280x500?black" alt="" />
		<br /><br />
		<h1 class="title">{{ message }}</h1>
		<button (click)="toggle()" class="button is-warning">Modal</button>
	</div>
</section>

<div [className]="modal ? 'modal is-active' : 'modal'">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Modal Title</p>
			<button class="delete" aria-label="close" (click)="close()"></button>
		</header>
		<section class="modal-card-body">
			<progress class="progress is-small is-primary" max="100">15%</progress>
		</section>
		<footer class="modal-card-foot">
			<button class="button is-success" (click)="save()">Save</button>
			<button class="button" (click)="cancel()">Cancel</button>
		</footer>
	</div>
</div>
